

.nav-contenedor {
    padding: 0 10% 0 10% ;
    background-color: #7a7979;
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.nav-contenedor  {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }


.nav-menu  {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav-menu:hover {
    color: black;
}

.nav-logo {
    width: 85px;
    height: 85px;
    cursor: pointer;
}


