

.nav-contenedor {
    padding: 0 10% 0 10% ;
    background-color: #615f5f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


ul, li  {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }


li  {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

li:hover {
    color: black;
}

.nav-logo {
    width: 85px;
    height: 85px;
    cursor: pointer;
}